{% extends 'base.html' %}
{% load json_tags %}

{% block content %}

    
    {% if user.is_authenticated %}

      {% if uml_models %}
      
      <table class="table table-striped table-hover table-bordered mt-4 ">
          <thead class="table-dark">
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Source file path</th>
                  <th scope="col">Update Date</th>
                  <th scope="col">Metadata</th>
                  <th scope="col">Actions</th>
              </tr>
          </thead>
          <tbody>
              {% for uml_model in uml_models %}
              <tr>
                  <td>{{ uml_model.id }}</td>
                  <td>{{ uml_model.name }}</td>
                  <td>{{ uml_model.description }}</td>
                  <td>
                    {% if uml_model.source_files %}
                        {% for source_file in uml_model.source_files.all %}
                            <a href="{{ source_file.filename }}" class="link-dark">{{ source_file.filename }}</a>
                        {% endfor %}
                    {% else %}
                        No file provided
                    {% endif %}
                  </td>                
                  <td>{{ uml_model.tech_valid_from }}</td>
                  <td>{% render_json uml_model.metadata.data %}</td>
                  <td>
                      <div class="btn-group text-center" role="group">
                          <a href="{% url 'uml-model' uml_model.id %}" class="btn btn-secondary">View</a>
                          <a href="{% url 'update-uml-model' uml_model.id %}" class="btn btn-secondary">Edit</a>
                          <a href="{% url 'delete-uml-model' uml_model.id %}" class="btn btn-danger">Delete</a>
                      </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>

      {% else %}

      <div class="col-md-6 offset-md-3"> 
          <h1 class="mb-4 mt-4">No UML models found</h1>
          <a href="{% url 'add-uml-model' %}" class="btn btn-success">+ Create UML model</a>
      </div>



      {% endif %}
    
    {% else %}
    <div class="col-md-6 offset-md-3"> 
      <h1 class="mb-4 mt-4">Login</h1>
      <form method="POST" action="{% url 'home' %}">
          {% csrf_token %}
              <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
              <button type="submit" class="btn btn-secondary mt-4">Login</button>
      </form>
    </div>

    {% endif %}

{% endblock %}
