{% extends 'base.html' %}

{% load status_tags %}


{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ uml_model.name }} UML Model</h1>

    <div class="row">
        <!-- XML Content Column -->
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title mb-0">File Content</h4>
                    {% if uml_model.source_files %}
                        <a href="{{ uml_model.source_files.url }}" class="link-light">{{ uml_model.source_files.url }}</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <pre class="language-xml"><code>{{ pretty_xml }}</code></pre>
                </div>
            </div>
        </div>

        <!-- Metadata Sidebar -->
        <div class="col-md-4 mb-4">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    <h4 class="card-title mb-0">Metadata</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group
                        list-group-flush">
                        <li class="list-group
                            list-group-item d-flex justify-content-between align-items-center">
                            <strong>Created:</strong>
                            <span>{{ uml_model.tech_valid_from }}</span>
                        </li>
                        <li class="list-group
                            list-group-item d-flex justify-content-between align-items-center">
                            <strong>Status:</strong>
                            {% render_status model_status status_enum model_status.name 'fs-5' %}
                        </li>

                        <li class="list-group
                            list-group-item d-flex justify-content-between align-items-center">
                            <strong>Shared with:</strong>
                            {% for user in uml_model.accessed_by.all %}
                                <span>{{ user }}</span>
                            {% endfor %}
                        </li>
                        <li class="list-group
                            list-group-item d-flex justify-content-between align-items-center">
                            <strong>Files:</strong>
                            <ul class="list-group">
                                {% for file in uml_model.source_files.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span class="d-flex me-4 align-items-center">
                                        {% render_status file.state status_enum %}
                                    </span>
                                    <span>
                                        File {{ file.filename }} in format {{ file.format }}
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Back</a>
            <a href="{% url 'update-uml-model' uml_model.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'delete-uml-model' uml_model.id %}" class="btn btn-danger">Delete</a>
        
        </div>
    </div>
</div>
{% endblock %}
