{% extends 'base.html' %}
{% load json_tags %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ uml_model.name }} UML Model</h1>

    <div class="row">
        <!-- XML Content Column -->
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title mb-0">File Content</h4>
                    {% if uml_model.source_file %}
                        <a href="{{ uml_model.source_file.url }}" class="link-light">{{ uml_model.source_file.url }}</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <pre class="language-xml"><code>{{ pretty_xml }}</code></pre>
                </div>
            </div>
        </div>

        <!-- Metadata Sidebar -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    <h4 class="card-title mb-0">Metadata Statistics</h4>
                </div>
                <div class="card-body">
                    {% render_json uml_model.metadata.data %}
                </div>
            </div>
            <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
            <a href="{% url 'uml-model' uml_model.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'delete-uml-model' uml_model.id %}" class="btn btn-danger">Delete</a>
        
        </div>
    </div>
</div>
{% endblock %}
