{% extends 'base.html' %}

{% load form_tags %}

{% block content %}
<div class="container mt-4">
    <div class="col-md-6 offset-md-3"> 
        <h1 class="mb-4 mt-4">Add UML Model</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        
            {% render_form_with_errors form %}

            <a href="{% url 'home' %}" class="btn btn-secondary mt-4">Back</a>
            <button type="submit" class="btn btn-primary mt-4">Update UML Model</button>
        </form>
    </div>
</div>
{% endblock %}
