{% load form_tags %}

<form method="POST" enctype="multipart/form-data" class="needs-validation">
    {% csrf_token %}

    {% render_model_upload_form_fields form formset %}

    <div class="w-100 d-flex justify-content-end">
        {% if form.instance.id %}
            <a href="{% url 'delete-uml-model' form.instance.id %}" class="btn btn-danger me-2">Delete UML Model</a>
        {% endif %}
        <button type="submit" class="btn btn-primary">Update UML Model</button>
    </div>
    
    
</form>
